
<div id="header">
	<div class="spacer"></div>
	<div id="aiming-for">
		<div class="aim-header">
			<h2 id="aim-number">
				Aiming for <span>Any 20</span>
			<h2>
			<h2 id="aim-icon">
				<i class="fa fa-angle-double-down"></i>
			</h2>
		</div>
		<div class="number-select hidden">
			<div class="select-row">	
				<h2 class="any25" data-points="25" data-multiple="0">Any Bull</h2>		
				<h2 class="double25" data-points="25" data-multiple="2">DBull</h2>		
				<h2 class="single25" data-points="25" data-multiple="1">SBull</h2>			
			</div>
		<%= 20.times do |i| %>
			<% if i == 20 then any = "any#{20-i} selected" else any = "any#{20-i}" end %>
			<div class="select-row">	
				<h2 class=<%= "any#{20 - i}" %> data-points=<%= 20-i %> data-multiple="0">Any <%= 20 - i %></h2>		
				<h2 class=<%= "triple#{20 - i}" %> data-points=<%= 20-i %> data-multiple="3">T<%= 20 - i %></h2>					
				<h2 class=<%= "double#{20 - i}" %> data-points=<%= 20-i %> data-multiple="2">D<%= 20 - i %></h2>		
				<h2 class=<%= "single#{20 - i} any" %> data-points=<%= 20-i %> data-multiple="1">S<%= 20 - i %></h2>			
				<h2 class=<%= "single#{20 - i} inner" %> data-points=<%= 20-i %> data-multiple="1" data-inout="Inner ">inS<%= 20 - i %></h2>		
				<h2 class=<%= "single#{20 - i} outer" %> data-points=<%= 20-i %> data-multiple="1" data-inout="Outer ">ouS<%= 20 - i %></h2>	
			</div>
		<% end %>
		</div>
	</div>
	<div class="spacer"></div>
</div>
<div class="shots">
	<div class="shot1">
		<p>First Shot</p>
		<h1>--</h1>
	</div>
	<div class="shot2">
		<p>Second Shot</p>
		<h1>--</h1>
	</div>
	<div class="shot3">
		<p>Third Shot</p>
		<h1>--</h1>
	</div>
</div>

<div id="board">
	<div id="svg">
		
	</div>
</div>

<div id="progress">
	<div>
		<h3 id="session-hits">0</h3>
		<div id="hits-sparkline"></div>
		<p>HITS</p>
	</div>
	<div>
		<h3 id="session-misses">0</h3>
		<div id="misses-sparkline"></div>
		<p>MISSES</p>
	</div>
	<div>
		<h3 id="session-accuracy">0</h3>
		<div id="accuracy-sparkline"></div>
		<p>ACCURACY</p>
	</div>
</div>