<!DOCTYPE html>
<html>
<head>
	<title>Darts</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag params[:controller] %>
	<%= stylesheet_link_tag params[:controller] %>
	<%= csrf_meta_tags %>
</head>
<body id=<%= "#{params[:controller]}" %> >

	<%= yield %>

</body>
</html>
